<mat-card class="container">
  
  <div class="chart-heading"> 
    <h2>Total Turn Over</h2>
    <app-option-selector id = "option-selector" [defaultChartOptions] ="chart" (optionChanged) = "updateChart($event)"></app-option-selector>
  </div>
    

  <apx-chart #chartObj
    [series]="chart.series"
    [chart]="chart.chart"
    [xaxis]="chart.xaxis"
    [dataLabels]="chart.dataLabels"
    [grid]="chart.grid"
    [stroke]="chart.stroke"
    [grid]="chart.grid"
    [theme]="chart.theme"
  ></apx-chart>

</mat-card>