<div class="container">
    <button class = "toggle-button" mat-raised-button color = "warn" (click) = "ToggleOptions($event)">settings</button>

    <mat-card class="chart-card" [ngClass]="{'no-display': optionsVisible}" id="Options">
        <form #optionSelectorForm = "ngForm" (ngSubmit)="UpdateOptions()">
                
                <section class="Grid top-pad-1">
                    <mat-checkbox name = "gridXLines" [(ngModel)] = "ChartOptions.grid.xaxis.lines.show">x-Axis</mat-checkbox>&#160;
                    <mat-checkbox name = "gridYLines" [(ngModel)] = "ChartOptions.grid.yaxis.lines.show">y-Axis</mat-checkbox>&#160;
                </section>

                <section class="Labels top-pad-1 bottom-pad-1 ">
                    <mat-checkbox name = "dataLabels" [(ngModel)] = "ChartOptions.dataLabels.enabled">Data Labels</mat-checkbox>
                </section>

                <section class="Stroke">
                    <mat-checkbox name = "strokeShow" [(ngModel)] = "ChartOptions.stroke.show">Display stroke</mat-checkbox>
                    <br>
                    <label for="strokeWidth">Stroke Width:</label>
                    <mat-slider min="0" max="5" step="0.2" [(ngModel)] = "ChartOptions.stroke.width" name = "strokeWidth"></mat-slider>          
                </section>

                <section class="Chart">
                    <label for="chartHeight">Chart Height:</label>
                    <mat-slider min="100" max="500" step="10" [(ngModel)] = "ChartOptions.chart.height" name = "chartHeight"></mat-slider>
                </section>
                
                <button mat-raised-button class="top-mar-1" color="primary" type="submit">submit</button>
        </form>
    </mat-card>
</div>