<div class="example-container">
    <form [formGroup]="chartOptions">
        
        <h2>Grid:  </h2>
        <div>
            <mat-label>X Axis:  </mat-label>
            <mat-checkbox [formControl] = "gridXAxisControl"></mat-checkbox>
        </div>
        <div>
            <mat-label>Y Axis:  </mat-label>
            <mat-checkbox [formControl] = "gridYAxisControl"></mat-checkbox>
        </div>
        
        <h2>Labels:  </h2>
        <div>
            <mat-label>Labels:  </mat-label>
            <mat-checkbox [formControl] = "labelControl"></mat-checkbox>
        </div>
        

    </form>
</div>