.container{
    position: relative;
}
.chart-card{
    width: 250px;
    padding: 20px;
}
.toggle-button{
    margin-left: 60%;
}
.no-display{
    visibility: hidden;
}
.top-pad-1{
    padding-top: 20px;
}
.bottom-pad-1{
    padding-bottom: 20px;
}
.top-mar-1{
    margin-top: 10px;
}