 <mat-card class="container">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Chart Title
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="chart-title-field">
                <input matInput type="text" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>                    
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Chart Type
                </mat-panel-title>
            </mat-expansion-panel-header> 
            <mat-selection-list [multiple]="false">
                <mat-list-option>Line Chart</mat-list-option>
                <mat-divider></mat-divider>
                <mat-list-option>Bar Chart</mat-list-option>
                <mat-divider></mat-divider>
                <mat-list-option>Column Chart</mat-list-option>
                <mat-divider></mat-divider>
                <mat-list-option>Area Chart</mat-list-option>
                <mat-divider></mat-divider>
                <mat-list-option>Pie Chart</mat-list-option>
                <mat-divider></mat-divider>
                <mat-list-option>Map Chart</mat-list-option>
                <mat-divider></mat-divider>
                <mat-list-option>Other</mat-list-option>
            </mat-selection-list>
        </mat-expansion-panel>
    
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                X-axis
                </mat-panel-title>
            </mat-expansion-panel-header>                    
        </mat-expansion-panel>
        
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Series
                </mat-panel-title>
            </mat-expansion-panel-header> 
            <div>
            <mat-icon>add_circle</mat-icon>
           Add Series
        </div>
        </mat-expansion-panel>
            
    </mat-accordion>
 <mat-card>
 <mat-checkbox name = "dataLabels">Switch rows/columns</mat-checkbox> 
 </mat-card>
</mat-card>  