 <div class='dashboard-container'>
   <div class="container">
     <div class="chart-heading">
       <button mat-icon-button style="color: gray;" id="edit-icon" >
         <mat-icon>delete</mat-icon>
       </button>
       <button mat-icon-button style="color: gray;" id="edit-icon" >
         <mat-icon>more_vert</mat-icon>
       </button>
     </div>
<mat-grid-list cols="3" rowHeight="2:1" gutterSize = "5px" >
     <div *ngFor="let item of dashboardList">
      
       <button mat-raised-button color = 'primary' class = 'dashboard-title' (click) = 'OpenDashboard()'>
             {{item.content}}
          <p class = 'dashboard-description'>
            {{item.description}}
         </p>
         </button>
 
     </div>
   </mat-grid-list>
</div>