
<div class='chart-container'>
  <app-chart-editor id = 'chart-editor'></app-chart-editor>

  <mat-grid-list cols="4" rowHeight="150px" gutterSize = "10px">
    <mat-grid-tile
    [rowspan] = '1'
    [colspan] = '1'
    >
    <app-kpi kpiName = "Quaterly Revenue" kpiIcon = "show_chart" kpiMetric = "200"></app-kpi>
    </mat-grid-tile>
    

    <mat-grid-tile
    [rowspan] = '1'
    [colspan] = '1'
    >
    <app-kpi></app-kpi>
    </mat-grid-tile>

    <mat-grid-tile
    [rowspan] = '1'
    [colspan] = '1'
    >
    <app-kpi></app-kpi>
    </mat-grid-tile>
    
    <mat-grid-tile
    [rowspan] = '1'
    [colspan] = '1'
    >
    <app-kpi></app-kpi>
    </mat-grid-tile>

    <mat-grid-tile
    [rowspan] = '3'
    [colspan] = '2'
    >
    <app-bar-graph></app-bar-graph>
    </mat-grid-tile>

    <mat-grid-tile
    [rowspan] = '3'
    [colspan] = '1'
    >
    <app-pie-chart></app-pie-chart>
    </mat-grid-tile>
  
  </mat-grid-list>

</div>
 