.chart-container{
    min-height: 91vh;
    position: relative;
    overflow: hidden;
}

#chart-editor{
    height: 100%;
    position: absolute;
    z-index: 12;
    right: -0px;
}

.no-display{
    display: none;
}

.mat-grid-tile .mat-figure {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block !important;
    align-items: flex-start; 
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#addChartIcon{
  transform: scale(2);
}

#ddl-chart-types {
  position: absolute;
  min-width: 200px;
  z-index: 3;
  right: -1px;
  top: 25ex;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.top-toolbar{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}