.chart-container{
    height: 91vh;
    position: relative;
    overflow: hidden;
}

#chart-editor{
    height: 100%;
    position: absolute;
    z-index: 12;
    right: -0px;
}

.no-display{
    display: none;
}
