.chart-container{
    /* min-height: 91vh; */
    /* position: relative; */
    /* overflow: hidden; */
    /* height: 100%;
    background-color:red; */
    display: grid;
    grid-template-columns: auto;
    /* fixed height required */
    height: 90vh;
    /* overflow-y: scroll; */
}

.test{
  display: flex;
  flex-direction: column;
}

.gridster-grid{
  /* height: 100%; */
  /* width: 100%; */
}

#chart-editor{
    height: 100%;
    position: absolute;
    z-index: 20;
    right: -0px;
}

.no-display{
    display: none;
}

.top-toolbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}

.mat-grid-tile .mat-figure {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block !important;
    align-items: flex-start; 
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#addChartIcon{
  transform: scale(2);
}

#ddl-chart-types {
  position: absolute;
  min-width: 200px;
  z-index: 1;
  left: 78ex;
  box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
}

.edit-toolbar-options
{
  justify-content: flex-end;
}