<div class="container">

  <div class="chart-heading">
    <button mat-icon-button style="color: gray;" id="edit-icon" (click) = 'DeleteChart()'>
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button style="color: gray;" id="edit-icon" (click) = 'EditChart()'>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <apx-chart #chartObj
    [title] = "chart.title"
    [series]="chart.series"
    [chart]="chart.chart"
    [dataLabels]="chart.dataLabels"
    [plotOptions]="chart.plotOptions"
    [xaxis]="chart.xaxis"
  ></apx-chart>

</div>