<mat-card class="container">
    
    <div class="chart-heading"> 
      <h2>Total Turn Over</h2>
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" id="edit-icon" (click) = 'EditChart()'>
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <apx-chart #chartObj
      [series]="chart.series"
      [chart]="chart.chart"
      [dataLabels]="chart.dataLabels"
      [plotOptions]="chart.plotOptions"
      [xaxis]="chart.xaxis"
    ></apx-chart>

  </mat-card>