.sidenav-container {
    /* width: auto; */
    /* height: 100%; */
    /* background-color : red; */
  /* border: 1px   solid rgba(0, 0, 0, 0.5); */
  }

.sidenav-sidenav {
  padding: 20px;
}

.mat-drawer-content{
  overflow: visible;
}

.mat-drawer-container{
  overflow: visible;
} 

.sidenav-component-container{
  height: 100%;
  grid-template-columns: auto;
}