.sidenav-container {
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

.sidenav-sidenav {
  padding: 20px;
}

.mat-drawer-content{
  overflow: visible;
}

.mat-drawer-container{
  overflow: visible;
}