<div class="container">

  <div class="chart-heading"> 
    <button mat-icon-button color="primary" style="color:gray" id="edit-icon" (click) = 'DeleteChart()'>
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" style="color:gray" id="edit-icon" (click) = 'EditChart()'>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  
    <apx-chart #chartObj
      [title] = "chart.title"
      [series]="chart.series"
      [chart]="chart.chart"
      [labels]="chart.labels"
      [responsive]="chart.responsive"
    ></apx-chart>
  
</div>