<div class = "top-toolbar">
  <mat-toolbar class = "edit-toolbar-options" color = 'basic'>
    <div>
      <button mat-button color = "primary" (click)="openDialog()">
        Add Dashboard
      </button>
    </div>
  </mat-toolbar>
</div>

<div class='dashboard-container'>

  <div class="gridster-grid" >
<gridster [options]="options" style="background-color: rgb(227, 228, 228);">
  <gridster-item [item]="item.position" *ngFor="let item of dashboardList" class = "gridster-item">
    <app-create-dashboard class = "dashboard-item"></app-create-dashboard>
  </gridster-item>
</gridster>

  
</div>
</div>