<div class = "top-toolbar">
  <mat-toolbar class = "edit-toolbar-options" color = 'basic'>
    <div>
      <button mat-button color = "primary" (click)="openDialog()">
        Add Dashboard
      </button>
    </div>
  </mat-toolbar>
</div>

<div class='dashboard-container'>

  <div class="gridster-grid" style="height: 90vh;">
<gridster [options]="options" style="background-color: rgb(227, 228, 228);">
  <gridster-item [item]="item" *ngFor="let item of dashboardList">
    <app-create-dashboard></app-create-dashboard>

  </gridster-item>
</gridster>

  
</div>
</div>