<div class="container">

    <div class="kpi-header">

        <button mat-icon-button disabled>
            <mat-icon>{{this.kpiData.icon}}</mat-icon>
        </button>
        
        <div style="margin-top: 10px; color: gray;">
            {{this.kpiData.name}}
        </div>

        <button mat-icon-button>
            <mat-icon style="color: gray;">more_vert</mat-icon>
        </button>
    </div>

    <div class="center">
            {{this.kpiData.metric | currency}}
    </div>
        
</div>

