.container {
	display: flex;
	flex-direction: column;
}
.kpi-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 5px; */
}
.metric{
    margin-left: 30%;
    font-size: 50px;
    margin-top: 6%;
}

  .center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 54px;
  }